.explore {
}

.explore-spinner {
  min-height: 100vh;
  min-height: calc( 100vh - 150px);

  display: flex;
  align-content: center;
  align-items: center;

  margin: 0 auto;

  max-width: 1220px;
  width: 100%;

  text-align: center;

  padding: 40px  20px;
  padding-bottom: 40px;

  position: relative;

}

.explore-inner {

  //display: flex;
  //flex-wrap: wrap;
  //justify-content: center;
  //text-align: left;

  padding: 20px;
  padding-top: 30px;
  min-height: 100vh;
  min-height: calc( 100vh - 150px);

  display: block;
}
